<div class="hero small">
    {% include "navbar.html.twig" %}

    <div class="down-the-road d-flex flex-row flex-lg-column justify-content-center">
        <div class="container d-flex flex-column-reverse flex-lg-row justify-content-between align-content-end">
            <h2 class="hero-slogan">stay fresh.</h2>
        </div>
    </div>
</div>