{% extends "base.html.twig" %}

{% block body %}
    <div class="container p-5">
        <h3>{{ repoName }}</h3>

        <p>This repository is not scanned yet. Please check later :)</p>
    </div>
{% endblock %}