{% extends "base.html.twig" %}

{% block body %}
    <div class="container p-5">
        <h3>It's not you, it's us.</h3>
        <p>Nobody requested to scan this repository. Why <a href="{{ url('home') }}">not you</a>?</p>
    </div>
{% endblock %}